
.equations-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.equations-container h3 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  flex: 1;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #45a049;
}
.input-group .add-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group .add-button:hover {
  background-color: #45a049;
}
.equations-list {
  list-style: none;
  padding: 0;
}

.equations-list li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.remove-button:hover {
  text-decoration: underline;
}

.code-container {
  position: relative;
  margin-top: 20px;
  padding: 15px;
  background-color: #eef;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.copy-button .copy-icon {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.copy-button .copy-icon:hover {
  filter: grayscale(0%);
}

.matriz-container {
  margin-top: 20px;
}

.matriz-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.matriz-column-header,
.matriz-row-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.matriz-cell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.no-matrix-message {
  margin-top: 20px;
  font-style: italic;
  color: #666;
  text-align: center;
}

.logout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c9302c;
}
