<div class="equations-container">
  <h3>Ecuaciones</h3>

  <input type="text" placeholder="Ecuación" [(ngModel)]="currentEquation.eq">
  <input type="number" placeholder="Lambda" min="1" [(ngModel)]="currentEquation.lambda">
  <button class="add-button" (click)="add()">Añadir</button>
  <button class="generate-button" (click)="generarHamiltoniano()">Generar Hamiltoniano</button>
  <button class="execute-button" (click)="ejecutarCodigo()">Ejecutar Código</button>
  <button class="matriz-button" (click)="generarMatriz()">Generar Matriz</button>
  <br>

  <ul *ngFor="let equation of equations">
      <li>
          {{equation.eq}} {{equation.lambda}} &nbsp;
          <span class="remove-button" (click)="remove(equation)">Eliminar</span>
      </li>
  </ul>

  <code>{{ respuesta }}</code>
  <br>
  <button (click)="logout()">Cerrar sesión</button>
  <br>
</div>
