<div class="equations-container">
  <h3>Ecuaciones</h3>

  <div class="input-group">
    <input type="text" placeholder="Ecuación" [(ngModel)]="currentEquation.eq">
    <input type="number" placeholder="Lambda" min="1" [(ngModel)]="currentEquation.lambda">
    <button class="add-button" (click)="add();resetearCopiadoH();resetearCopiadoC();resetearCopiadoR()">Añadir</button>
  </div>
  
  <div class="button-group">
    <button class="generate-button" (click)="generarHamiltoniano();resetearCopiadoH();resetearCopiadoC();resetearCopiadoR()" [disabled]="!isHamiltonianoButtonEnabled">Generar Hamiltoniano</button>
    <button class="matriz-button" (click)="generarMatriz();resetearCopiadoH();resetearCopiadoC();resetearCopiadoR()" [disabled]="!isMatrizButtonEnabled">Generar Matriz</button>
    <button class="execute-button" (click)="ejecutarCodigo();resetearCopiadoH();resetearCopiadoC();resetearCopiadoR()" [disabled]="!isExecuteButtonEnabled">Ejecutar Código</button>
  </div>

  <ul class="equations-list" *ngFor="let equation of equations">
    <li>
      {{ equation.eq }} {{ equation.lambda }} &nbsp;
      <span class="remove-button" (click)="remove(equation);resetearCopiadoH();resetearCopiadoC();resetearCopiadoR()">Eliminar</span>
    </li>
  </ul>

  <div class="hamiltoniano-container" *ngIf="hamiltonianoGenerado">
    <code>{{ hamiltonianoGenerado }}</code>
    <button class="copy-button" (click)="copiarHamiltonianoAlPortapapeles(hamiltonianoGenerado);resetearCopiadoC();resetearCopiadoR()">
      <img [src]="h_copiado ? 'assets/garrapata.png' : 'assets/copiar.png'" alt="Copiar" class="copy-icon">
    </button>
  </div>
  

  <div *ngIf="matrizGenerada && matrizGenerada.length > 0" class="matriz-container">
    <table class="matriz-table">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let columna of matrizGenerada[0]; let j = index" class="matriz-column-header"> x{{ j }} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of matrizGenerada; let i = index">
          <th class="matriz-row-header"> x{{ i }} </th>
          <td *ngFor="let elemento of fila" class="matriz-cell"> {{ elemento }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!matrizGenerada || matrizGenerada.length === 0">
  </div>

  <button class="logout-button" (click)="logout();resetearCopiadoC();resetearCopiadoH()">Cerrar sesión</button>
  <button class="pagos-button" (click)="irPagos()"> Pagar </button>
  <div class="code-container"*ngIf="codigoGenerado">
    <h3>Codigo Generado</h3>
    <pre><code>{{ codigoGenerado }}</code></pre>
    <button class="copy-button" (click)="copiarCodigoAlPortapapeles(codigoGenerado);resetearCopiadoH();resetearCopiadoR()">
      <img [src]="c_copiado ? 'assets/garrapata.png' : 'assets/copiar.png'" alt="Copiar" class="copy-icon">
    </button>
  </div>
  
  <div class="output-container"*ngIf="salidaGenerada">
    <h3>Resultado de la Ejecución</h3>
    <pre><code>{{ salidaGenerada }}</code></pre>
    <button class="copy-button" (click)="copiarResultadoAlPortapapeles(salidaGenerada);resetearCopiadoH();resetearCopiadoC()">
      <img [src]="r_copiado ? 'assets/garrapata.png' : 'assets/copiar.png'" alt="Copiar" class="copy-icon">
    </button>
  </div>
  
  