<div class="pagos-container">
    <h3>Realizar Pago</h3>
  
    <div class="input-group">
        <input type="text" placeholder="Importe"[(ngModel)]="importe">
        <button class="button-group" (click)="pagar()">Pagar</button>
    </div>

  
    <div>
      <form id="payment-form" style="display:none">
        <div #cardElement id="card-element"></div>
        <button id="submit">
          <div class="button-group" id="spinner"></div>
          <span id="button-text">Pagar ahora</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
          El pago se realizó correctamente. Puedes ver el resultado en tu
          <a href="" target="_blank">panel de Stripe.</a> Refresca la página para realizar otro pago.
        </p>
      </form>
    </div>
</div>
