<div class="login-container">
    <h4>Iniciar Sesión</h4>

    <input type="text" placeholder="Correo electrónico" [(ngModel)]="email">
    <br>
    <input type="password" placeholder="Contraseña" [(ngModel)]="pwd">
    <br>
    <button (click)="login()">Iniciar Sesión</button>
    <br>
    <span class="error-message">{{ error }}</span>
    <span class="success-message">{{ successMessage }}</span>
    <br>
    <button (click)="logout()">Cerrar sesión</button>
    <br>
    <br>
    <button routerLink="/register">No tienes cuenta todavía? Regístrate</button>
</div>
